
html{
  overflow-y:scroll; overflow-x:hidden;
}

html, body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
}

*, *::before, *::after{
  box-sizing: border-box;
}

.uppercase{
  text-transform:uppercase;
}

.nospace{
  margin:0;
  padding:0;
  list-style:none;
}

.inline *{
  display:inline-block;
}

.pushright li{
  margin-right:20px;
}

.overlay{
  position:relative;
  z-index:1;
}

.overlay::after{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  content:"";
  z-index:-1;
}

.element{
  display:block;
  width:100%;
  max-width:320px;
  padding:15px;
  border:1px solid;
}

.element figure{
  display:block;
  position:relative;
  margin-bottom:30px;
}

.element .excerpt .heading{
  margin-bottom:10px;
  font-size: 20px;
}

.btn{
  display:inline-block;
  padding: 17px;
  text-transform:uppercase;
  border:1px solid;
}

.clear::before, .clear::after, .group::before, .group::after{
  display:table;
  content:"";
}

.clear, .clear::after, .group, .group::after{
  clear:both;
}

a{
  outline:none;
  text-decoration:none;
}

.fl_right{
  float:right;
}

img{
  width:auto;
  max-width:100%;
  height:auto;
  margin:0;
  padding:0;
  border:none;
  line-height:normal;
  vertical-align:middle;
}

body, input, textarea, select{
  font-family:Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading{
  font-family:Georgia, "Times New Roman", Times, serif;
}

form {
  margin:0;
  padding:0;
  border:none;
}

label, input, textarea, select, button{
  display:block;
  resize:none;
  outline:none;
  color:inherit;
  font-size:inherit;
  font-family:inherit;
  vertical-align:middle;
}

label{
  margin-bottom:5px;
}

h1, h2, h3, h4, h5, h6, .heading{
  margin:0 0 20px;
  font-size:25px;
  line-height:normal;
  font-weight:normal;
  text-transform:capitalize;
}

address{
  font-style:normal;
  font-weight:normal;
}

.font-x3{
  font-size: 40px;
}

.hoc{
  display:block;
  margin:0 auto;
}

address, article, figure, footer, header, main, nav{
  display:block;
  margin:0;
  padding:0;
}

.one_third, .one_quarter {
  display:inline-block;
  float:left;
  margin:0 0 0 3.5%;
  list-style:none;
}

.first{
  margin-left:0;
  clear:left;
}

.one_quarter{
  width:23%;
  max-width: 50%;
}

.mapaTiempo{
  float: right;
}

.one_third{
  width:31%;
}

.btmspace-50{
  margin-bottom:50px;
}
