@import url("fontawesome-4.5.0.min.css");
@import url("framework.css");

body{
	background-color:#272421 /* ha de ser el color del footer i s'ha de posar */
}

input, textarea {
  width:500px;
  height:50px;
  background: #F5F5DC ;
  border:2px solid #f6f6f6;
  padding:10px;
  margin-top:5px;
  font-size:10px;
  color: black;
	max-width: 100%;
}

textarea {
  height:150px;
	max-width: 100%;
}

iframe {
	max-width: 100%;
}

a{
	color: #934C00;
}

a:active, a:focus{
	background:transparent;
}

#topbar{
	font-size:13px;
	text-transform:uppercase;
}

#topbar .fl_left{
	margin-top:10px;
}

#pageintro{
	padding:150px 0;
}

#idioma{
	float: right;
}

#idiomas {
	background-color: #DAB286;
	color: white;
}

#liPagina{
	background-color: #C6C6DF;
}

#pageintro article{
	display:block;
	max-width:60%;
}

#pageintro article .heading{
	margin-bottom:50px;
	font-size:50px;
}

.container{
	padding:80px 0;
}

#textNormes{
	text-align: left;
}

#submit {
  width:85px;
  height:35px;
  border:none;
  margin-top:20px;
  cursor:pointer;
	background-color: #D2B48C;
	color: black;
	max-width: 100%;
}

#label {
  margin-top:30px;
  letter-spacing:1px;
}

#form_Contacte {
  margin:0 auto;
}

#fotoCatedral{
	height: 400px;
	weight: 300px;
}

#footer{
	padding:100px 0;
}

#footer .title{
	margin:0 0 20px;
	padding:0;
	font-size:20px;
}

#footer .linklist li{
	display:block;
	margin-bottom:15px;
	padding:0 0 15px 0;
	border-bottom:1px solid;
}

#footer .contact.linklist li, #footer .contact.linklist li:last-child{
	position:relative;
	padding-left:40px;
}

#footer .contact li i{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:30px;
	font-size:20px;
	text-align:center;
}

nav ul, nav ol{
	margin:0;
	padding:0;
	list-style:none;
}

#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{
	position:absolute;
	font-family:"FontAwesome";
	font-size:10px;
	line-height:10px;
}

#mainav ul{
	text-transform:uppercase;
}

#mainav ul ul{
	z-index:9999;
	position:absolute;
	width:180px;
}

#mainav ul ul ul{
	left:180px;
	top:0;
}

#mainav li{
	display:inline-block;
	position:relative;
	margin:0 20px;
	padding:0;
}

#mainav li li{
	width:100%;
	margin:0;
}

#mainav li a{
	display:block;
	padding:30px 0;
}

#mainav .drop{
	padding-left:15px;
}

#mainav li li a, #mainav li li .drop{
	display:block;
	margin:0;
	padding:10px 15px;
}

#mainav ul ul{
	visibility:hidden;
	opacity:0;
}

#mainav ul li:hover > ul{
	visibility:visible;
	opacity:1;
}

#mainav form{
	display:none;
	margin:10px 0 0;
	padding:0;
}

#mainav form select{
	padding:10px;
	border:none;
}

.pagination{
	display:block;
	width:100%;
	text-align:center;
}

.pagination li{
	display:inline-block;
	margin:3px;
}

.pagination a, .pagination strong{
	display:block;
	padding:8px 11px;
	border:1.5px solid;
	font-weight: bold;
}

.pagination a, .pagination strong{
	border-color:#D7D7D7;
}

#backtotop{
	z-index:999;
	display:inline-block;
	position:fixed;
	visibility:hidden;
	bottom:30px;
	right:5%;
	width:40px;
	height:40px;
	line-height:40px;
	font-size:20px;
	text-align:center;
}

#backtotop i{
	display:block;
	width:100%;
	height:100%;
	line-height:inherit;
	background-color: orange;
}

#backtotop.visible{
	visibility:visible;
	opacity: 0.5;
}

#backtotop:hover{
	background-color: orange;
	opacity: 1;
}

#esquerra{
  float: left;
	width: 440px;
  height: 500px;
}

#dreta{
  float: right;
	width: 440px;
	height: 500px;
}

#rutesH1{
	font: bold 30px 'Century Gothic';
}

table, th, td{
	border:1px solid;
	vertical-align:top;
}

table, th{
	table-layout:auto;
}

table{
	width:100%;
	margin-bottom:15px;
}

th, td{
	padding:5px 8px;
}

td{
	border-width:0 1px;
}

.overlay{
	color: white;
	background-color:inherit;
}

.overlay::after{
	color:inherit;
	background-color:rgba(0,0,0,.55);
}

.overlay.coloured::after{
	color:inherit;
	background-color:rgba(75,70,65,.8);
}

.element{
	border-color: red;
}

.btn, .btn.inverse:hover{
	color: white;
	background-color:#FF8F2B;
}

.btn:hover, .btn.inverse{
	color: inherit;
	background-color: #A969EF;
}

.row0{
	background-color: white;
}

.row1{
	color: black;
	background-color:#D3ECFF;
}

.row3{
	color: black;
	background-color: white;
}

.row4.overlay::after{
	background-color:rgba(60,55,51,.8);
}

#footer .linklist li{
	border-color:#272421;
}

#mainav li a{
	color: black;
}

#mainav .active a, #mainav a:hover {
	color:#FF8F2B;
	background-color:inherit;
}

#mainav form select{
	color: black;
	background-color: #EAEDED;
	border: black 1px solid;
}

#backtotop{
	color:#FFFFFF;
}

th{
	color:#FFFFFF;
	background-color:#373737;
}

@media screen and (min-width:978px){
	.hoc{
		max-width: 1000px;
	}
}

@media screen and (max-width:900px){
	.hoc{
		max-width:90%;
	}

	#header{
		padding:15px 0;
	}

	#mainav ul{
		display:none;
	}

	#mainav form{
		display:block;
	}
}

@media screen and (max-width:650px){
	.font-x3{
		font-size:25px;
	}
}

@media screen and (max-width:750px){
	.one_third, .one_quarter{
		display:block;
		float:none;
		width:auto;
		margin:0 0 30px ;
		padding:0;
	}

	#header{
		text-align:center;
	}

	#pageintro article{
		max-width:none;
	}

	#pageintro article .heading{
		margin-bottom:20px;
		font-size:40px;
	}

	.container, #footer{
		padding-bottom:50px;
	}
}
