body {
  background: #E1E1E1;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header, .login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #4E4EFF;
  padding: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #6699CC;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"], .login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="submit"] {
  background: #D7D08A;
  border-color: transparent;
  color: black;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #D7D08A;
  color: red;
}
