body {
  background: #D6D6EB;
}

#login {
  margin: 50px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
  border: 1px solid black;
}

h1#titulo {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  font-size: 25px;
  color: black;
  text-align:center;
  background: #f7f7f7;
}

#input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#input:hover{
  background:#F4F4F4;
}

#loginButton {
  width: 50%;
  height: 40px;
  font-size: 20px;
  color: white;
  text-align: center;
  background: #5B5BDC;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

#loginButton:hover{
  border-top-left-radius: 25px 50px;
  border-bottom-right-radius: 25px 50px;
}
