* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

a:hover {
	text-decoration: none;
}

input {
	outline: none;
	border: none;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

label {
  display: block;
  margin: 0;
}

button {
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.divPrincipal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.clasePrimera {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.imatgeFons {
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

}

.imatgeFons::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.formulari {
  width: 710px;
  min-height: 100vh;
  display: block;
  padding: 110px 55px;
}

.formulari-titol {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 35px;
  color: black;
  line-height: 2;
  text-align: center;
  padding-bottom: 30px;
}

.dades {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.labelDades{
  font-family: Arial;
  font-size: 12px;
  color: #666666;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 0 5px 15px;
}

.datos {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Verdana;
  font-size: 15px;
  color: black;
  line-height: 1;
  padding: 0 26px;
}

input.datos {
  height: 50px;
}

.datos:focus {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.divPrincipal-form-btn {
  width: 100%;
  padding-top: 20px;
}

.formulariBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;
  font-family: Garamond;
  font-size: 20px;
  color: white;
  line-height: 1;
  transition: all 0.5s;
}

.formulariBtn:hover {
  background: green;
}

@media (max-width: 992px) {
  .formulari {
    width: 50%;
    padding: 110px 30px 55px 30px;
  }

  .imatgeFons {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .formulari {
    width: 100%;
  }

  .imatgeFons {
    display: none;
  }
}

@media (max-width: 576px) {
  .formulari {
    padding: 110px 15px 55px 15px;
  }
}
